<h1>Attractions#show</h1>
<p>Find me in app/views/attractions/show.html.erb</p>
<%= @attraction.name %>
<% unless current_user.nil? %>
    <%= button_to 'Go on this ride', go_on_ride_path(current_user, @attraction) %>
<% end %>